.dropdown-menu a {
    color: #0088cc;
    text-decoration: none;
}
.typeahead {
    z-index: 1051;
    margin-top: 2px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    padding: 0px;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    text-shadow:none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #4078c0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.mention_name{
	font-size:12px;
	}
.mention_username{
	font-size:12px;
	color:#999;
	}
.mention_image{
	float: left;
	margin-right: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	}
.active .mention_username{
	color:#fff;
	}